@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

/*--------------------*/
body {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 1170px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 970px) {
  .container {
    max-width: 770px;
  }
}

@media (max-width: 770px) {
  .container {
    max-width: 570px;
  }
}

@media (max-width: 570px) {
  .container {
    max-width: 370px;
  }
}

h1 {
  font-weight: 700;
  color: #ffffff;
  font-size: 45px;
  line-height: 65px;
  margin-bottom: 20px;
}

@media (max-width: 970px) {
  h1 {
    font-size: 35px;
    line-height: 45px;
  }
}

.title-2 {
  font-weight: 700;
  font-size: 30px;
  color: #233148;
}

.header {
  padding-top: 45px;
  background: url("../img/header/Background1.jpg") no-repeat;
  background-size: cover;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 130px;
  position: relative;
}

@media (max-width: 570px) {
  .header__top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header__logo {
  max-width: 98px;
  max-height: 40px;
}

.header__logo img {
  max-width: 100%;
}

.header__menu_burger {
  display: none;
}

@media (max-width: 570px) {
  .header__menu_burger {
    display: block;
  }
}

.header__menu_burger span {
  content: '';
  display: table;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  margin-bottom: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__menu_burger.active span:nth-of-type(2) {
  width: 70%;
}

.header__menu_burger.active span:nth-of-type(3) {
  width: 40%;
}

.header__text {
  max-width: 520px;
  margin: 0 auto;
  text-align: center;
}

.header__text p {
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 45px;
}

.header__btns {
  margin-bottom: 70px;
}

@media (max-width: 970px) {
  .header__btns {
    margin-bottom: 50px;
  }
}

.header__btn {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 0 30px;
  height: 40px;
  line-height: 35px;
  margin-right: 25px;
}

@media (max-width: 970px) {
  .header__btn {
    padding: 0 20px;
  }
}

.header__btn:hover {
  background-color: #ffffff;
  color: #233148;
}

.header__img {
  max-width: 265px;
  margin: 0 auto;
}

.header__img img {
  max-width: 100%;
}

@media (max-width: 970px) {
  .header__img {
    max-width: 225px;
  }
}

@media (max-width: 570px) {
  .header__img {
    max-width: 195px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 570px) {
  .menu {
    display: none;
    -webkit-animation-name: burger;
            animation-name: burger;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
  }
  @-webkit-keyframes burger {
    0% {
      right: -100%;
    }
    100% {
      right: 20%;
    }
  }
  @keyframes burger {
    0% {
      right: -100%;
    }
    100% {
      right: 20%;
    }
  }
  .menu.active {
    display: block;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 20%;
  }
}

.menu__link {
  margin-left: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  position: relative;
}

@media (max-width: 570px) {
  .menu__link {
    font-size: 36px;
    line-height: 44px;
  }
}

.menu__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.menu__link:hover::after {
  top: 100%;
  opacity: 1;
}

.btn {
  display: inline-block;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.marketing-1 {
  background: url("../img/marketing-1/Background.png") no-repeat center;
  background-size: cover;
  margin-top: -13%;
  position: relative;
  padding: 265px 0 140px 0;
}

@media (max-width: 1170px) {
  .marketing-1 {
    margin-top: -17%;
  }
}

@media (max-width: 970px) {
  .marketing-1 {
    margin-top: -20%;
  }
}

@media (max-width: 770px) {
  .marketing-1 {
    margin-top: -30%;
  }
}

@media (max-width: 570px) {
  .marketing-1 {
    margin-top: -40%;
  }
}

.marketing-1__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.marketing-1__img {
  max-width: 265px;
  margin-top: 180px;
}

.marketing-1__img img {
  max-width: 100%;
}

@media (max-width: 970px) {
  .marketing-1__img {
    max-width: 225px;
  }
}

@media (max-width: 570px) {
  .marketing-1__img {
    display: none;
  }
}

.marketing-1__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 770px) {
  .marketing-1__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
  }
}

.marketing-1__items .sprite {
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (max-width: 770px) {
  .marketing-1__items .sprite {
    margin-bottom: 15px;
  }
}

.marketing-1__items_2 {
  padding-top: 90px;
}

@media (max-width: 770px) {
  .marketing-1__items_2 {
    padding-top: 20px;
  }
}

.marketing-1__item_1 {
  margin-bottom: 65px;
}

@media (max-width: 770px) {
  .marketing-1__item_1 {
    margin-bottom: 20px;
  }
}

.marketing-1__item_2 {
  margin-left: -80px;
}

@media (max-width: 1170px) {
  .marketing-1__item_2 {
    margin-left: -50px;
  }
}

@media (max-width: 970px) {
  .marketing-1__item_2 {
    margin-left: -30px;
  }
}

@media (max-width: 770px) {
  .marketing-1__item_2 {
    margin-left: 0;
  }
}

.marketing-1__item_3 {
  margin-bottom: 95px;
  margin-left: 60px;
}

@media (max-width: 1170px) {
  .marketing-1__item_3 {
    margin-left: 30px;
  }
}

@media (max-width: 1170px) {
  .marketing-1__item_3 {
    margin-left: 20px;
  }
}

@media (max-width: 770px) {
  .marketing-1__item_3 {
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.item {
  background-color: #ffffff;
  max-width: 270px;
  padding: 55px 28px 35px 28px;
  text-align: center;
  border-radius: 7px;
  -webkit-box-shadow: 0 7px 10px -5px #c5c5c5;
          box-shadow: 0 7px 10px -5px #c5c5c5;
}

@media (max-width: 1170px) {
  .item {
    max-width: 250px;
    padding: 45px 18px 25px 18px;
  }
}

@media (max-width: 970px) {
  .item {
    max-width: 200px;
    padding: 35px 18px 25px 18px;
  }
}

@media (max-width: 770px) {
  .item {
    max-width: 370px;
    padding: 15px 10px 15px 10px;
  }
}

.item h3 {
  font-weight: 700;
  color: #233148;
  margin-bottom: 25px;
}

@media (max-width: 770px) {
  .item h3 {
    margin-bottom: 10px;
  }
}

.item p {
  color: #6a6d89;
  line-height: 27px;
}

@media (max-width: 770px) {
  .item p {
    line-height: 20px;
  }
}

.marketing-2 {
  background-color: #ffffff;
  padding: 90px 0 110px 0;
}

.marketing-2__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.marketing-2__info {
  max-width: 470px;
}

.marketing-2__menu {
  width: 560px;
}

.info {
  padding: 60px 0 0 0;
  text-align: right;
}

.info__title-2 {
  margin-bottom: 45px;
}

.info__text {
  line-height: 27px;
  color: #6a6d89;
  margin-bottom: 30px;
}

.info__btn {
  border: 1px solid #77e1fe;
  border-radius: 5px;
  background-color: #33d2fd;
  color: #ffffff;
  padding: 0 45px;
  height: 50px;
  line-height: 45px;
}

.info__btn:hover {
  color: #233148;
  background-color: #77e1fe;
}

.menu__list {
  width: 100%;
}

.menu__li {
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 110px 25px 75px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 5px 10px 0 #ebecec;
          box-shadow: 0 5px 10px 0 #ebecec;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.menu__li .sprite {
  position: absolute;
  left: 30px;
}

.menu__li .sprite-m2-2 {
  left: 35px;
}

.menu__li:hover {
  cursor: pointer;
  background-color: #33d2fd;
}

.menu__li:hover p {
  display: block;
  color: #ffffff;
}

.menu__text span {
  display: inline-block;
  font-weight: 700;
  font-size: 15px;
  color: #233148;
  margin: 5px 0 15px 5px;
}

.menu__text p {
  display: none;
  line-height: 27px;
}

.marketing-3 {
  padding: 55px 0;
  background: #fafafc;
}

.marketing-3__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.marketing-3__img {
  width: 573px;
  height: 368px;
}

.marketing-3__right {
  max-width: 470px;
}

.marketing-3__title-2 {
  margin-bottom: 40px;
}

.marketing-3__list {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 40px;
}

.marketing-3__list li:not(:last-of-type) {
  margin-bottom: 20px;
}

.marketing-3__check {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 15px;
  background: url("../img/marketing-3/2.png") no-repeat center #33d2fd;
  vertical-align: middle;
}

.marketing-3__p {
  line-height: 27px;
}

.sprite {
  background-image: url("../img/icon/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-foot-1 {
  width: 13px;
  height: 26px;
  background-position: -5px -5px;
}

.sprite-foot-2 {
  width: 27px;
  height: 22px;
  background-position: -28px -5px;
}

.sprite-foot-3 {
  width: 27px;
  height: 27px;
  background-position: -65px -5px;
}

.sprite-foot-4 {
  width: 28px;
  height: 25px;
  background-position: -102px -5px;
}

.sprite-foot-5 {
  width: 26px;
  height: 26px;
  background-position: -28px -40px;
}

.sprite-m1-1 {
  width: 52px;
  height: 52px;
  background-position: -102px -40px;
}

.sprite-m1-2 {
  width: 49px;
  height: 58px;
  background-position: -164px -5px;
}

.sprite-m1-3 {
  width: 55px;
  height: 52px;
  background-position: -5px -102px;
}

.sprite-m1-4 {
  width: 38px;
  height: 61px;
  background-position: -164px -73px;
}

.sprite-m2-1 {
  width: 30px;
  height: 26px;
  background-position: -70px -144px;
}

.sprite-m2-2 {
  width: 16px;
  height: 31px;
  background-position: -70px -73px;
}

.sprite-m2-3 {
  width: 31px;
  height: 28px;
  background-position: -110px -144px;
}

.sprite-m2-4 {
  width: 27px;
  height: 27px;
  background-position: -151px -144px;
}
/*# sourceMappingURL=style.css.map */